@model ZeeBi.UI.Models.Url
		   
@{
    ViewBag.Title = "Zee.Bi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Zee.Bi</h1>

<h2>Shorten a URL:</h2>
<form action="/-/add/" method="post">
	<div class="form-field">
		<span class="form-label">@Html.LabelFor(x => x.LongUrl, "URL:")</span>
		<span class="form-label">@Html.TextBoxFor(x => x.LongUrl)</span>
	</div>
	<div class="form-field">
		<span class="form-label">@Html.LabelFor(x => x.Id, "Short URL (optional):")</span>
		<span class="form-label">@Html.TextBoxFor(x => x.Id)</span>
	</div>
	<input type="submit" text="Shorten it!" /></input>
</form>

