@model ZeeBi.UI.Models.Url
		   
@{
    ViewBag.Title = "Zee.Bi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Zee.Bi</h1>

<h2>Shorten a URL:</h2>
<form action="/-/add/" method="post">
	@Html.LabelFor(x => x.LongUrl, "URL:")
	@Html.TextBoxFor(x => x.LongUrl)
</form>

