 @{
    ViewBag.Title = "Zee.Bi API V1";
}

<style>
	code 
	{
		font-family: Consolas, Monospace;
		font-size: 12px;
	}
	
	table { width: 100%; }
</style>

<h2><em>API</em> Reference</h1> 

<div class="box">
	<table class="table matchpre" id="apitoc">
		<thead>
			<tr>
				<th>Method Name</th>
				<th>REST URI <span>relative to <code>@Url.RouteUrl("APIHome")</code></span></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a class="apimethod" href="#method_urlshortener_url_insert">url.create</a></td>
				<td><code>POST /create</code></td>
			</tr>
			<tr>
				<td><a class="apimethod" href="#method_urlshortener_url_get">url.get</a></td>
				<td><code>GET /get&amp;id={shortUrl}</code></td>
			</tr>
		</tbody>
	</table>
</div>

