 @{
    ViewBag.Title = "Zee.Bi API V1";
}


	
  <h1>Zee.Bi API V1</h1> 
<table class="matchpre" id="apitoc">
    <tbody><tr>
      <th>Data</th>
      <th>Method Name</th>
      <th>REST URI <span style="font-weight: normal;">relative to <code>http://zee.bi/api/v1</code></span></th>
    </tr>

    <tr>
    

      <td><a class="apimethod" href="#method_urlshortener_url_insert">url.create</a></td>
      <td><code>POST /create</code></td>
      
    </tr>

    <tr>
      <td><a class="apimethod" href="#method_urlshortener_url_get">url.get</a></td>
      <td><code>GET&nbsp; /get&amp;id={shortUrl}</code></td>
    </tr>


  </tbody></table>



</body>

