@model ZeeBi.UI.Models.Url
		   
@{
    ViewBag.Title = "URL Shortened!";
}

<h2>URL Shortened!</h2>

<div class="box">
	<div>Your short url is <a href="/@Model.Id">@Url.RouteUrl("Follow", new { id = Model.Id }, "http")</a></div>

<div>
	Or you can click here for <a href="@Url.Action("info", "stats", new { id = Model.Id })">details</a>
</div>
</div>