/* New URL form */

.messages { width: 600px; min-height: 16px; padding: 2px; text-align: right; }
.messages span { display:none; color:Green;}
	
.form-field 
{
	margin: 10px auto;
	width: 620px; 
}
	
.form-actions
{
	margin: 25px 0 10px;
}
	
form label 
{
	display: inline-block;
	text-align: right;
	padding-right: 3px;
}
	
form input.blur
{
	color : #bbb;
}
	
.messages .error 
{
	color:Red;
}

/* URLs table */

#my-urls { width: 90%; margin: 5px auto; }
#my-urls th#short-url-header { width: 20%; }
#my-urls th#long-url-header { width: 50%; }
#my-urls th#created-header { width: 20%; }
#my-urls th#page-views-header { width: 10%; }

#form-container { width: 830px; margin: 0 auto; }

form input 
{
	background: transparent;
	border: 0;
	color: #8C8C8C;
}

#textbox-container 
{
	background: transparent url("/Content/img/textbox.png") no-repeat;
	float: left;
	height: 36px;
	margin-top: 5px;
	padding: 10px 30px 40px 60px;
	width: 481px;
}

#longUrl  
{
	width: 100%; 
	font-size: 16pt;
}

#submit-container
{
	background: transparent url("/Content/img/shorten-button.png") no-repeat;
    float: left;
    height: 60px;
    padding: 4px 60px 80px 30px;
    width: 160px;
}

#submit 
{
	width: 100%;
	height: 100%;
}
