/* New URL form */

#form-container { width: 830px; margin: 0 auto; }

form input 
{
	background: transparent;
	border: 0;
	color: #8C8C8C;
}

#textbox-container 
{
	background: transparent url("/Content/img/textbox.png") no-repeat;
	float: left;
	height: 36px;
	margin-top: 5px;
	padding: 10px 30px 40px 60px;
	width: 481px;
}

#longUrl  
{
	width: 100%; 
	font-size: 16pt;
}

#longUrl-messages 
{
	left: 40px;
	text-align: left;
	position: relative;
	top: 8px;
	width: 400px;
}

#submit-container
{
	background: transparent url("/Content/img/shorten-button.png") no-repeat;
    float: left;
    height: 60px;
    padding: 4px 60px 80px 30px;
	margin: 0 -60px -80px 0;
    width: 160px;
}

#short-url-container 
{
	clear: both;
	display: inline-block;
	font-size: 12pt;
}

#id 
{
	background-color: #E1E1E1;
	width: 200px;
	border: 1px solid #3E527C;
	padding-right: 22px;
}

#id-messages { text-align: right; }

#id-icon 
{
    left: -21px;
    padding: 0 18px 0 0;
    position: relative;
    background: transparent no-repeat;
}

#id-icon.ok { background-image: url("/Content/img/ok.png"); }
#id-icon.error { background-image: url("/Content/img/error.png"); }

.messages  
{
	min-height: 16px; 
	padding: 4px; 
	text-align: left; 
}

.messages span  
{
	display: none; 
	color: #FF3535; 
	background-color: #F2F2F2; 
	border: 2px solid #3E61A8; 
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
	padding: 2px 10px; 
	font-size: 12px; }
	
.form-field 
{
	margin: 10px auto;
	width: 620px; 
}
	
.form-actions
{
	margin: 25px 0 10px;
}
	
form input.blur
{
	color : #bbb;
}	

/* URLs table */

#my-urls { width: 90%; margin: 5px auto; }
#my-urls th#short-url-header { width: 20%; }
#my-urls th#long-url-header { width: 50%; }
#my-urls th#created-header { width: 25%; }
#my-urls th#page-views-header { width: 10%; }

.summary { text-align: center; }
.summary em { font-weight: bold; }
