body
{
    font-family: "Trebuchet MS", Helvetica, Arial, Sans-Serif;
    background: white url("/Content/img/background.png") repeat-x;
    /* background-attachment: scroll; */
}

#content
{
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

h1
{
	font-family: "Berlin Sans FB Demi", Helvetica, Arial, Sans-Serif;
	font-size: 36pt;
	color: white;
	text-shadow: 2px 2px 2px #26452a, 4px 4px 5px black;
	margin: 40px 0;
}

h2
{
	font-family: "Berlin Sans FB Demi", Helvetica, Arial, Sans-Serif;
	font-size: 20pt;
	color: white;
	text-shadow: 1px 1px #26452a;
	margin: 20px 0;
}

.box
{
	border: 1px solid black;
	background-color: #fff9c1;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px;
	margin: 10px;
}

input 
{
	font-size: inherit;
	font-family: inherit;
}
