/* Common Elements */ 

body
{
    font-family: "Trebuchet MS", Tahoma, Helvetica, Arial, Sans-Serif;
    font-size: 14px;
    background: #3359A9 url("/Content/img/background.png") repeat-x;
	color: white;
}

#content
{
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

a, a:visited 
{
	text-decoration: underline;
	color: #E6BA3F;
}

a:hover
{
	color: #FFCE47;
}

.box
{
	border: 2px solid #294070;
	background-color: #E1E1E1;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	padding: 10px;
	margin: 10px auto;
	color: #333;
	width: 750px;
}

.box a, .box a:visited
{
	text-decoration: underline;
	color: #2A498B;
}

.box a:hover
{
	color: #3C6AC4;
}

input 
{
	font-size: inherit;
	font-family: inherit;
	border: 1px solid #ccc;
	border-radius: 5px;	-moz-border-radius: 5px; -webkit-border-radius: 5px;
	padding: 1px 3px;
}

table
{
	border: 1px solid #294070;		
}
	
table thead
{
	background-color: #2A498B;
	color: white;
}
	
table td, table th { padding: 2px; }
	
table tr { border: 1px solid #294070; }
	
table tr.summary 
{
	font-weight: bold;
}

button, .button
{
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	background: transparent;
	cursor: pointer;
}

/* Header */


#topbar 
{
	margin: 5px auto;
	font-size: 12px; 
}	

#topbar div 
{
    background-color: #C4C4C4;
    border: 3px solid #294070;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    color: #333;
    padding: 5px;
}

#login-indicator { float: right; }
#login-indicator a, #login-indicator a:visited { color: #2A4A8C; text-decoration: none; font-weight: bold; }

#global-message { max-width: 500px; margin: 0 auto; }
#global-message .error { color: #FF1414; }

#header { clear: both; }
	
h1
{
	margin: 40px 0 10px;
}

h1 a, h1 a:hover, h1 a:visited 
{
	color: inherit;
	text-decoration: inherit;
}

h3 
{
	font-size: 12pt;
	text-shadow: 1px 1px #294070;
	margin: 0 0 50px;
}

h3 em { color: #FB0; }

h2
{
	font-size: 30pt;
	font-weight: bold;
	color: white;
	margin: 20px 0;
	text-shadow: 2px 2px #294070;
}

h2 em { color: #FFC72F; }

h2 a, h2 a:visited
{
	color: inherit;
	text-decoration: none;
}

h2 a:hover
{
	color: #efe;
	text-decoration: underline;
}

.breaker { clear: both; }
