/* Common Elements */ 

body
{
    font-family: "Trebuchet MS", Helvetica, Arial, Sans-Serif;
    background: #3359A9 url("/Content/img/background.png") repeat-x;
	color: white;
}

#content
{
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

.box
{
	border: 2px solid #294070;
	background-color: #E1E1E1;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	padding: 5px;
	margin: 10px;
	color: #333;
}

.box a , .box a:visited
{
	text-decoration: underline;
	color: #2A498B;
}

.box a:hover
{
	color: #3C6AC4;
}

input 
{
	font-size: inherit;
	font-family: inherit;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 1px 3px;
}

button, .button
{
		border: 1px solid gray;
		background-color: #e66800;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		color: white;
		font-size: 16pt;
		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0.25, rgb(250,162,85)),
			color-stop(0.75, rgb(230,104,0))
		);
		background-image: -moz-linear-gradient(
			center top,
			rgb(250,162,85) 25%,
			rgb(230,104,0) 75%
		);
}

table
{
	border: 1px solid #294070;		
}
	
table thead
{
	background-color: #2A498B;
	color: white;
}
	
table td, table th { padding: 2px; }
	
table tr { border: 1px solid #294070; }
	
table tr.summary 
{
	font-weight: bold;
}

/* Header */


#topbar 
{
	margin: 5px auto;
}	

#topbar div 
{
    background-color: #C4C4C4;
    border: 3px solid #294070;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    color: #333;
    padding: 5px;
}

#current-user { float: right; }
#current-user a, #current-user a:visited { color: #2A4A8C; text-decoration: none; }
#current-user .username { font-weight: bold; }

#global-message { max-width: 500px; margin: 0 auto; }
#global-message .error { color: #FF1414; }

#header { clear: both; }
	
h1
{
	font-family: "Luckiest Guy", "Berlin Sans FB Demi", Helvetica, Arial, Sans-Serif;
	font-size: 28pt;
	color: white;
	text-shadow: 2px 2px 2px #26452a, 4px 4px 5px black;
	margin: 40px 0;
}

h1 a, h1 a:hover, h1 a:visited 
{
	color: inherit;
	text-decoration: inherit;
}

h2
{
	font-family: "Yanone Kaffeesatz", "Berlin Sans FB Demi", Helvetica, Arial, Sans-Serif;
	font-size: 30pt;
	color: white;
	text-shadow: 1px 1px #26452a;
	margin: 20px 0;
}

h2 a, h2 a:visited
{
	color: inherit;
	text-decoration: none;
}

h2 a:hover
{
	color: #efe;
	text-decoration: underline;
}

